<div class="widget-wrap">
  <h3 class="widget-title">Blog Rolls</h3>
    <div class="widget">
    <ul>
      <li><a href="http://www.daozhihun.com/">刀之魂 | 大木老师成长日记</a></li>
      <li><a href="http://blog.nlogn.cn">帧哥 | 硅谷谈撸管</a></li>
      <li><a href="http://http://chichou.0ginr.com/blog/">ChiChou | 首席安全地球仪切图总奸</a></li>
      <li><a href="http://madstrawberry.me">裴老师 | 愤怒的草莓</a></li>
    </ul>
  </div>
</div>